body {
    background-color: #FCDADA;
}
hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    height: 0px;
}
h1  {
    color: #3d7ea6;
}
h3  {
    color: #3d7ea6;
}